extends ./../layout

block content
  div#content
    div.photoboxMain
        a(href='gallery/#{photoMain.id}')
          img#indexMain(src='#{photoMain.link}')
    each photo in photos
      div.photobox
        div.thumbContainerImg
          a(href='gallery/#{photo.id}')
            img(src='#{photo.link}')
        div.thumbContainer
          h4 #{photo.title}


