extends ./../layout

block content
  div#content
    div.photoboxMain
        a(href='gallery/#{photoMain.id}')
          img#indexMain(src='#{photoMain.link}')
    each photo in photos
      div.photobox
        a(href='gallery/#{photo.id}')
          img(src='#{photo.link}')
        h4 #{photo.title}
