extends ./../layout

block content
  div#singleDiv
    div#main
      img#mainImg(src='#{photo.link}')
      h2 #{photo.title}
      p#mainDesc #{photo.description}
      form#deleteForm(method='POST', action='/gallery/#{photo.id}')
        input(type='hidden', name='_method', value='DELETE')
        input#delete(type='submit' value= 'Delete')
    div#thumbs
      each thumb in thumbs
        div.thumbBox
          div#imageDiv
            a(href='#{thumb.id}')
              img(src='#{thumb.link}')
          h4 #{thumb.title}
